In [1]:
import pandas as pd
import numpy as np

baseball_df = pd.read_csv('https://assets.datacamp.com/production/repositories/3581/datasets/779033fb8fb5021aee9ff46253980abcbc5851f3/baseball_stats.csv')
print(baseball_df.head())

  Team League  Year   RS   RA   W    OBP    SLG     BA  Playoffs  RankSeason  \
0  ARI     NL  2012  734  688  81  0.328  0.418  0.259         0         NaN
1  ATL     NL  2012  700  600  94  0.320  0.389  0.247         1         4.0
2  BAL     AL  2012  712  705  93  0.311  0.417  0.247         1         5.0
3  BOS     AL  2012  734  806  69  0.315  0.415  0.260         0         NaN
4  CHC     NL  2012  613  759  61  0.302  0.378  0.240         0         NaN

   RankPlayoffs    G   OOBP   OSLG
0           NaN  162  0.317  0.415
1           5.0  162  0.306  0.378
2           4.0  162  0.315  0.403
3           NaN  162  0.331  0.428
4           NaN  162  0.335  0.424

Column Team have Teams names:

ARI - Arizona Diamondbacks\
ATL - Atlanta Braves\
BAL - Baltimore Orioles\
BOS - Boston Red Sox\
CHC - Chicago Cubs

W - wins

G - games

In [2]:
baseball_df.describe()

,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
count,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,244.000000,244.000000,1232.000000,420.000000,420.000000
mean,1988.957792,715.081981,715.081981,80.904221,0.326331,0.397342,0.259273,0.198052,3.122951,2.717213,161.918831,0.332264,0.419743
std,14.819625,91.534294,93.079933,11.458139,0.015013,0.033267,0.012907,0.398693,1.738349,1.095234,0.624365,0.015295,0.026510
min,1962.000000,463.000000,472.000000,40.000000,0.277000,0.301000,0.214000,0.000000,1.000000,1.000000,158.000000,0.294000,0.346000
25%,1976.750000,652.000000,649.750000,73.000000,0.317000,0.375000,0.251000,0.000000,2.000000,2.000000,162.000000,0.321000,0.401000
50%,1989.000000,711.000000,709.000000,81.000000,0.326000,0.396000,0.260000,0.000000,3.000000,3.000000,162.000000,0.331000,0.419000
75%,2002.000000,775.000000,774.250000,89.000000,0.337000,0.421000,0.268000,0.000000,4.000000,4.000000,162.000000,0.343000,0.438000
max,2012.000000,1009.000000,1103.000000,116.000000,0.373000,0.491000,0.294000,1.000000,8.000000,5.000000,165.000000,0.384000,0.499000

In [3]:
# Show unique values in each non-numeric column
cols = ['Team', 'League', 'Year']
for col in cols:
    print(col, baseball_df[col].unique(), baseball_df[col].nunique())

Team ['ARI' 'ATL' 'BAL' 'BOS' 'CHC' 'CHW' 'CIN' 'CLE' 'COL' 'DET' 'HOU' 'KCR'
 'LAA' 'LAD' 'MIA' 'MIL' 'MIN' 'NYM' 'NYY' 'OAK' 'PHI' 'PIT' 'SDP' 'SEA'
 'SFG' 'STL' 'TBR' 'TEX' 'TOR' 'WSN' 'FLA' 'TBD' 'ANA' 'MON' 'CAL' 'WSA'
 'SEP' 'KCA' 'MLN'] 39
League ['NL' 'AL'] 2
Year [2012 2011 2010 2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999
 1998 1997 1996 1993 1992 1991 1990 1989 1988 1987 1986 1985 1984 1983
 1982 1980 1979 1978 1977 1976 1975 1974 1973 1971 1970 1969 1968 1967
 1966 1965 1964 1963 1962] 47

# winrate via iloc and iterrows

In [4]:
def calc_winrate(wins, games):
    return np.round(wins / games,3)

In [ ]:
# For loop with iloc
win_perc_list = []
df3 = baseball_df.copy()
for i in range(len(df3)):
    row = df3.iloc[i]
    wins = row['W']
    games_played = row['G']
    win_perc = calc_winrate(wins, games_played)
    win_perc_list.append(win_perc)
df3['Winrate'] = win_perc_list

# For loop with iterrows
win_perc_list2 = []
df4 = baseball_df.copy()
for i,row in df4.iterrows():
    wins = row['W']
    games_played = row['G']
    win_perc = calc_winrate(wins, games_played)
    win_perc_list2.append(win_perc)
df4['Winrate'] = win_perc_list2

# apply lambda
df5 = baseball_df.copy()
df5['Winrate'] = df5.apply(lambda row: calc_winrate(row['W'], row['G']), axis=1)

# Vectorized
df2 = baseball_df.copy()
df2['Winrate'] = np.round(df2['W'] / df2['G'],3)

In [14]:
%%timeit -r10 -n50

win_perc_list = []
df3 = baseball_df.copy()
for i in range(len(df3)):
    row = df3.iloc[i]
    wins = row['W']
    games_played = row['G']
    win_perc = calc_winrate(wins, games_played)
    win_perc_list.append(win_perc)
df3['Winrate'] = win_perc_list

48.9 ms ± 785 μs per loop (mean ± std. dev. of 10 runs, 50 loops each)

In [13]:
%%timeit -r10 -n50

win_perc_list2 = []
df4 = baseball_df.copy()
for i,row in df4.iterrows():
    wins = row['W']
    games_played = row['G']
    win_perc = calc_winrate(wins, games_played)
    win_perc_list2.append(win_perc)
df4['Winrate'] = win_perc_list2

43.6 ms ± 409 μs per loop (mean ± std. dev. of 10 runs, 50 loops each)

In [15]:
%%timeit -r10 -n50
df5 = baseball_df.copy()
df5['Winrate'] = df5.apply(lambda row: calc_winrate(row['W'], row['G']), axis=1)

13.1 ms ± 164 μs per loop (mean ± std. dev. of 10 runs, 50 loops each)

In [18]:
%%timeit -r10 -n50
df2 = baseball_df.copy()
df2['Winrate'] = np.round(df2['W'] / df2['G'],3)

241 μs ± 15.5 μs per loop (mean ± std. dev. of 10 runs, 50 loops each)

In [27]:
%%timeit -r10 -n50
df6 = baseball_df.copy()
df6['Winrate'] = np.round(df6['W'].values / df6['G'].values,3)

180 μs ± 19.7 μs per loop (mean ± std. dev. of 10 runs, 50 loops each)

In [9]:
# check if results are the same
print(df2['Winrate'].equals(df3['Winrate']))
print(df2['Winrate'].equals(df4['Winrate']))
print(df3['Winrate'].equals(df4['Winrate']))

True
True
True